@tailwind base;
@tailwind components;
@tailwind utilities;

.border_for_orange{
    filter: drop-shadow(2px 2px 129px #fd6e01);
}


*::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

