@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    height: auto;
    width: 100vw;
    scroll-behavior: smooth;
    background-size: cover;
    background-image: url('../images/main-bg.png');
    overflow-x: hidden;
}

*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
